@model ByteMarket.WebUI.Models.ProductViewModels.ProductListViewModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    var apiBaseUrl = Configuration["ApiSettings:BaseStorageAdress"];
    string noImageUrl = "https://placehold.co/600x400?text=Resim+Yok";
    var fullImagePath = !string.IsNullOrEmpty(Model.ImagePath)
                        ? $"{apiBaseUrl}{Model.ImagePath.Replace("\\", "/")}"
                        : noImageUrl;
    Console.WriteLine(fullImagePath);
}
<tr>
    <td class="py-3 ps-3">
        <div class="d-flex align-items-center">
            <div class="me-3">
                <img src="@fullImagePath"
                     alt="@Model.Name"
                     class="rounded border shadow-sm product-thumb" />
            </div>
            <div>
                <h6 class="mb-0 small fw-bold">@Model.Name</h6>
                <code class="text-muted" style="font-size: 10px;">ID: @Model.Id.ToString().Substring(0, 8)</code>
            </div>
        </div>
    </td>
    <td class="text-ty-orange fw-bold">@Model.Price.ToString("C2")</td>
    <td>
        @if (Model.Stock < 10)
        {
            <span class="badge bg-danger bg-opacity-10 text-danger border border-danger border-opacity-25 px-3 py-2">
                <i class="bi bi-exclamation-triangle-fill me-1"></i>Kritik: @Model.Stock
            </span>
        }
        else
        {
            <span class="badge bg-success bg-opacity-10 text-success border border-success border-opacity-25 px-3 py-2">
                @Model.Stock Adet
            </span>
        }
    </td>
    <td><span class="badge bg-info bg-opacity-10 text-info border border-info border-opacity-25 px-3 py-2">Satışta</span></td>
    <td class="text-end pe-3">
        <div class="btn-group shadow-sm">
            <a class="btn btn-sm btn-white border text-primary" title="Düzenle" href="#">
                <i class="bi bi-pencil-square"></i>
            </a>
            <button class="btn btn-sm btn-white border text-danger btn-delete"
                    data-id="@Model.Id"
                    data-name="@Model.Name"
                    title="Sil">
                <i class="bi bi-trash3"></i>
            </button>
        </div>
    </td>
</tr>